body {
	background-color: black;

}

img {
	max-width: 100%;
	margin:  10px;
}

.genre-description {
	color:  white;
	text-align: center;
}

img:hover {
	transform:  scale(1.05);
	transition: ease-in;
}

