body {
	background-color: black;

}

row {
	margin-left: 0;
	margin-right: 0;
}

img {
	max-width: 100%;
	margin:  10px;
	height: 400px;
}

.genre-description {
	color:  white;
	text-align: center;
}

img:hover {
	transform:  scale(1.05);
	transition: ease-in;
}

